// Override Bulma Variables
$family-serif: 'Roboto Slab', serif;
$family-sans-serif: 'Roboto', sans-serif;
$family-primary: $family-sans-serif;

$primary: #2998FF;

// Bulma
@import "../node_modules/bulma/bulma";

// Variables
@import "./variables";


// Base
@import "./base";

// Panel
@import "./panel";

// Form
@import "./form";

// Sidebar
@import "./sidebar";
