.sidebar-form {
  label {
    font-weight: normal;
    text-transform: uppercase;
    color: $grey;
  }

  .form-input {
      margin-bottom: 20px;
  }

  .input {
    border: none;
    height: 3em;
    box-shadow: none;
    border-radius: 0;
    color: $grey-dark;
    border-bottom: solid 2px $grey-lighter;
    transition: all 0.3s ease-in-out;

    &:focus {
      color: $primary;
      border-bottom-color: $primary;
    }
  }
}
