.panel {
    &:not(:last-child) {
        margin-bottom: 0;
    }

    .panel-header {
        background: $panel-header-background;
        padding: 15px;
        cursor: pointer;
        text-transform: uppercase;
        color: $panel-header-color;
        border-bottom: solid 1px darken($white-ter, 5%);

        .icon {
            font-size: 0.8em;
            float: right;
        }
    }

    .panel-body {
        padding: 15px;
        background: #fff;
        border-bottom: solid 1px darken($white-ter, 5%);
    }

    // Open Panel
    &.open {
        .panel-header {
            font-weight: bold;
        }
    }

    // Nested Panels
    .panel {
        margin-bottom: 15px;

        .panel-header {
            border: solid 1px darken($white-ter, 5%);
        }

        .panel-body {
            border: solid 1px darken($white-ter, 5%);
            border-top: none;
        }
    }
}
