.panel {
    &:not(:last-child) {
        margin-bottom: 0;
    }

    .panel-header {
        background: $panel-header-background;
        padding: 15px;
        cursor: pointer;
        text-transform: uppercase;
        color: $panel-header-color;
        box-shadow: 0px 2px 4px darken($white, 10%);
        border-bottom: solid 1px darken($white-ter, 5%);

        .icon {
            font-size: 0.8em;
            float: right;
        }
    }

    .panel-body {
        padding: 15px;
        background: #fff;
        border-bottom: solid 1px darken($white-ter, 5%);
    }
}
