@import "./variables";

.resume-render-wrapper {
  padding: 20px;
  position: fixed;
  left: $sidebar-width;
  right: 0;
  top: $navbar-height;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;

  * {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }

  .resume-template {
      font-family: "Calibri", sans-serif;
      font-size: 12px;
      line-height: 1.5;
      background: #fff;
      padding: 40px;
  }

  .main img {
    height: 150px;
    width: 150px;
  }

  .text-right {
    text-align: right;
  }

  .inline-block {
    display: inline-block;
  }

  table {
    padding: 15px;
    width: 100%;
  }

  .page-break {
    page-break-after: always;
  }

  .w-10 {
    width: 10%;
  }

  .w-20 {
    width: 20%;
  }

  .w-30 {
    width: 30%;
  }

  .w-40 {
    width: 40%;
  }

  .w-50 {
    width: 50%;
  }

  .w-60 {
    width: 60%;
  }

  .w-70 {
    width: 70%;
  }

  .w-80 {
    width: 80%;
  }

  .w-90 {
    width: 90%;
  }

  .w-100 {
    width: 100%;
  }

  .intro {
    padding: 0 20px;
  }

  .intro h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .intro p {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .section-header {
    border-bottom: solid 3px #666666;
    margin-bottom: 20px;
  }

  .section {
    margin-top: 20px;
  }

  .section th {
    text-align: left;
    padding: 10px;
  }

  .section td {
    padding: 10px;
  }

  .list li {
    margin-bottom: 10px;
  }
}

@media only screen and (min-device-width : 1000px) {
    .resume-render-wrapper {
        display: block;
    }
}
