.sidebar {
    background: $sidebar-background;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: $sidebar-width;
    width: 100%;
    color: $sidebar-color;
    overflow-y: auto;
    box-shadow: 5px 0 10px rgba(0,0,0,0.05);

    .logo-wrapper {
        background: $primary;

        .button {
            float: right;
            margin: ($sidebar-padding/2) + 2;
            color: $grey;
            border: none;
            border-radius: $radius;
            transition: all 0.3s ease-in-out;
            padding-right: 30px;
            padding-left: 30px;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);

            &:hover {
                color: $grey-dark;
                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
                transform: scale(1.02);
            }
        }
    }

    .logo {
        // text-align: center;
        // font-family: $family-serif;
        display: inline-block;
        padding: $sidebar-padding;

        img {
            width: 20px;
            vertical-align: middle;
        }

        // span {
        //     color: $white;
        //     font-size: 1.8em;
        //     vertical-align: baseline;
        //     margin-left: 5px;
        // }
    }
}
