.sidebar {
    background: $sidebar-background;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: $sidebar-width;
    width: 100%;
    color: $sidebar-color;

    .wrapper {
        padding: $sidebar-padding;
    }

    .logo {
        font-family: $family-serif;
        display: block;

        img {
            width: 40px;
            vertical-align: baseline;
        }

        span {
            color: $white;
            font-size: 2.6em;
            vertical-align: baseline;
            margin-left: 5px;
        }
    }

    .tagline {
        font-family: $family-serif;
        margin-top: 20px;
        font-size: 1.2em;
        line-height: 2;
    }
}
