// Typography
$letter-spacing: 0.04em;

// Misc
$radius: 2px;

// Sidebar
$sidebar-background: #fff;
$sidebar-width: 30%;
$sidebar-color: darken($primary, 25%);
$sidebar-padding: 20px;

// Panel
$panel-header-background: #fff;
$panel-header-color: $grey;
